:root {
  --p: #4b80e2;
  --bg: #080808;
  --scb: #1b1b1b;
  --tc: white;
}
@media screen and (max-width:1285px){
  html{
    font-size: 55%;
  }
  .services-container{
    padding-bottom: 7rem;
    grid-template-columns: repeat(2,1fr);
    margin: 0 5rem;
  }
}
@media screen and (max-width:991px){
  header{
    padding: 2rem 3%;
  }
  section{
    padding: 10rem 3% 2rem;
  }
  .timeline-items::before{
    left: 7px;
  }
  .timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even){
    padding-left: 37px;
  }
  .timeline-dot{
    left: 0;
  }
  .services{
    padding-bottom: 7rem;
  }
  .testimonials .wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  .contact form{
    flex-direction: column;
  }
  .footer{
    padding: 2rem 3%;
  }
}
@media screen and (max-width:640px){
  body{
    background: var(--bg);
    color: var(--tc);
  }
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--p);
    border-bottom: 2px solid var(--p);
    display: none;
  }
  .navbar.active{
    display: block;
  }
  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }
  .home{
    flex-direction: column-reverse;
    margin: 5rem 4rem;
  }
  .social-icons a{
    margin-top: 3rem;
  }
  .btn-group .btn{
    margin-top: 1.4rem;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1{
    font-size: 8rem;
    margin-top: 3rem;
  }
  .home-content p {
    max-width: 600px;
    margin: 0 auto;
  }
  .home-img img{
    width: 80vw;
    margin-bottom: 10rem;
  }
  .education h2{
    justify-content: center;
    align-items: center;
    font-size: 7rem;
  }
  .about{
    flex-direction: column;
  }
  .about-img img{
    width: 70vw;
  }
  .about-content h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .about-content p{
    display: flex;
    font-size: 13px;
    margin-bottom: 3rem;
    text-align: center;
  }
  .about-content .btn{
    margin-bottom: 2rem;
  }
  .heading{
    font-size: 6rem;
  }
  .testimonials .heading{
    font-size: 5.5rem;
  }
  .services h3{
    margin-bottom: 3rem;
  }
  .services-container{
    grid-template-columns: repeat(1,1fr);
   justify-content: center;
   align-items: center;
  }
  .services-info h4 {
    line-height: 1.5;
    margin-bottom: 1rem;
  }
}